<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kino - repertuar</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/scheduleJS.js" async></script>
</head>
<body>
    <div class="scheduleWrapper">
        <div class="scheduleLogo">
            <img src="../img/logo2.png" alt="Logo kina">
        </div>
        <div class="scheduleMenu">
            <ul>
                <li>Ranking</li>
                <li>Zapowiedzi</li>
                <li>Baza filmów</li>
                <li>Kontakt</li>
            </ul>
        </div>
        <div class="scheduleContent">
            <p>Rezerwacja biletów</p>
            <form id="formCity">
                <select id="city" name="city"></select>
            </form>
            <form id="formCinema"></form>
            <form id="formSchedule"></form>
            <div id="sittings"></div>
            <div id="summary"></div>
        </div>
        <div class="scheduleFooter">&copy; 2019 Wojciech Styburski</div>
    </div>
</body>
</html>